.idea/
target
.history
./bank-types/target/
./bank-start/target/
./bank-persistence/target/
./bank-messaging/target/
./bank-external/target/
./bank-domain/target/
./bank-application/target/
./bank-web/target/
